h1,
h2 {
    color: rgb(00, 00, 00);
    font-family: 'courier';
    background-color: #f3dfc7;
    font-size: 24pt;
}

body {
    background-color: oldlace;
}

main {
    background-color: #f3dfc7
}


.somename {
    color: black;

}

.bodyname {
    color: green;

}

.bodyname2 {
    color: aqua;

}

.bodyname3 {
    background-color: firebrick;

}

.bodyname4 {
    font-family: 'courier';
    
}